*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{ 
background-color: 7F7F7F;
padding-bottom: 20px;

h3{
    font-family: 'Kalam' ;
    color: 9EFF00;
    text-align: center;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 10px;
}

p{
    color:white;
    text-align: center;
    font-family:'Jura'
}
}

body{
background-color: DDDDDD;
}

.fromis{
    text-align: center;
   padding-top: 30px;
   font-size: 20px;
 

   .ok{
    margin-top: 250px;
    margin-left: 200px;
    background-color: rgb(0, 203, 0);
    border-radius: 3px;
   }

  


}
.strok1{


}

.strok2{
  
}

.strok3{
   
}

.strok4{
   margin-top: 30px;
   font-size: 15px;

}

.strok5{
    font-size: 15px;
   margin-top: 14px;
   
}


.form-field {
    margin-bottom: -12px; /* Встановлюємо відступ внизу кожного поля */
    font-size: 19px;
  }


footer{
  margin-left: 2%;
    text-align: center;
}

.exid{

}

.vers{
    position: absolute;
 
}

input[type="text"] {
    width: 300px; /* Встановлюємо ширину в 200 пікселів */
  }

  input[type="date"] {
    width: 300px; /* Встановлюємо ширину в 200 пікселів */
  }

.sorry{
  padding-top: 10px;
}