*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{ 
background-color: rgb(102, 102, 102);
padding-bottom: 20px;

}

header p{
font-family: 'Jura';
text-align: center;
}


h3{
    font-family: 'Kalam' ;
    color: rgb(2, 218, 2);
    text-align: center;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 10px;
}


body{
background-color: DDDDDD;
}

.fromis{
    text-align: center;
   padding-top: 30px;
   font-size: 20px;
 

   .ok{
    margin-top: 250px;
    margin-left: 200px;
    background-color: rgb(0, 203, 0);
    border-radius: 3px;
   }

  


}
.strok1{


}

.strok2{
  
}

.strok3{
   
}

.strok4{
   margin-top: 30px;
   font-size: 15px;

}

.strok5{
    font-size: 15px;
   margin-top: 14px;
   
}


.form-field {
    margin-bottom: -12px; /* Встановлюємо відступ внизу кожного поля */
    font-size: 19px;
  }


footer{
  position: fixed;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center;
}

.exid{
background-color: rgb(157, 157, 157);
color: white;
border-radius: 6px;
 margin-bottom: 20px;
}

.vers{
    position: absolute;
    margin-bottom: 35px;
 
}

input[type="text"] {
    width: 300px; /* Встановлюємо ширину в 200 пікселів */
  }

  input[type="date"] {
    width: 300px; /* Встановлюємо ширину в 200 пікселів */
  }

